:root {
    --background: white;
    --faded: #cccccc;
    --text: black;
    --link-color: dodgerblue;
}

/* Overall */
html, body, div#map {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    cursor: default;
}

html, body {
    background-color: var(--background);
}
