/* Main layout */
div#map {
    width: auto;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* Sidebar control buttons */
.sidebar-button {
    position: fixed;
    right: 1em;
    z-index: 1044;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}
#sidebar-button-menu {
    top: 1em;
}

/* Sidebar */
.offcanvas {
    overflow-y: scroll;
    bottom: initial;
    max-height: 100vh;
    --bs-offcanvas-width: 350px;
}

img.icon {
    position: relative;
    top: -2px;
    margin-right: 0.3em;
    height: 2em;
    width: 2em;
}

button.accordion-button i.fa {
    margin-right: 0.5em;
}

div.indented-section {
    margin-left: 2em;
    margin-top: 0.5em;
}

div#loadingStatus {
    display: none;
}

table.statsTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    margin-bottom: 1em;
}

table.statsTable th, table.statsTable td {
    border: 1px solid;
    padding: 0.2em 0.5em;
}

.dialog-open-link {
    font-size: 0.8em;
    margin-top: 4px;
}

/* Stats rows that are hidden by default */
tr.statsTimeOnOffRow {
    display: none;
}

img.flag {
    position: relative;
    top: 3px;
}

/* Popup layout */
table.popupQSOTable {
    line-height: 1em;
    position: relative;
    left: -3px;
}

/* Hide certain elements until we have something to put in there */
table#qsoFiltersTable {
    display: none;
}

.colorSample {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: 1px solid black;
    position: relative;
    top: 2px;
}
