/* Mobile */
@media only screen and (max-width: 800px) {
    .menu-bar-button-label {
        display: none;
    }

    /*noinspection CssUnusedSymbol*/
    .leaflet-container .leaflet-control-attribution {
        display: none;
    }

    .panel-card {
        top: 4rem;
        width: calc(100% - 2rem);
        max-height: calc(100vh - 5rem);
    }

    .panel-card-body {
        max-height: calc(100vh - 8.5rem);
    }
}
