.sidebar-button {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color-translucent);
}

/* Sidebar */
#sidebar {
    /* offcanvas-end normally takes up the whole vertical height so only has a left border, here we add the bottom
    border because we have reduced the height of the element. */
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
}
.offcanvas-backdrop {
    opacity: 0 !important;
}

/* Toggleable areas within the sidebar */
.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}
.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

h1#stats-callsign {
    margin: 0;
    font-size: 1.3em;
    text-align: center;
}

p.stats-qth {
    margin-top: 0;
    font-size: 0.8em;
    text-align: center;
}

/* Marker and popup styles */
.leaflet-popup {
    font-size: 14px;
}
.leaflet-tooltip, .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}
.leaflet-tooltip {
    border: 1px solid var(--bs-body-bg);
}
.leaflet-tooltip-top::before {
    border-top-color: var(--bs-body-bg);
}

input#fixedMarkerColour {
    padding: 0;
    border: none;
    height: 1.5em;
    width: 2em;
    position: relative;
    top: 3px;
}

/* Style for small info indicators */
div#qsoFilterMessage {
    margin-top: 0.1em;
    margin-bottom: 0;
    font-size: 0.8em;
}

/* Style for small info indicators */
div#qsoFilterMessage {
    margin-bottom: 0.3em;
}

.leaflet-popup-content {
    min-width: 310px;
}

/* Marker and popup styles */
.leaflet-tooltip {
    border: none;
    background-color: transparent;
    line-height: 1em;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: none;
}
.leaflet-tooltip-bottom::before {
    display: none;
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}
.gridSquareLabel {
    position: relative;
    top: -50%;
    left: -100%;
    text-align: center;
    color: blue;
    font-weight: bold;
}

i.markerPopupIcon {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.1em;
    width: 1.2em;
}

span.popupBlock {
    display: inline-block;
    white-space: normal;
    margin-right: 1em;
}

/* Text/link styles */
a, .leaflet-container a {
    color: var(--bs-link-color);
    text-decoration: none;
}

/* Marker outlines */
.leaflet-map-pane div.outlinedmarker svg path:nth-child(2) {
    fill: black !important;
    opacity: 1.0 !important;
}

/* Leaflet.js mods */
/*noinspection CssUnusedSymbol*/
.leaflet-container .leaflet-control-attribution {
    background: none;
}
